<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="base-button fancy-button">Primary</a>
</p>

<p>
  <a class="base-button secondary-button">Secondary</a>
</p>

<p>
  <a class="base-button success-button">Success</a>
</p>

<p>
  <a class="base-button danger-button">Danger</a>
</p>

<p>
  <a class="base-button warning-button">Warning</a>
</p>

<p>
  <a class="base-button info-button">Info</a>
</p>


<p class="base-font">Less intrusive variants:</p>

<p>
  <a class="base-button outline-primary-button">Primary (unobtrusive)</a>
</p>

<p>
  <a class="base-button outline-secondary-button">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="base-button outline-success-button">Success (unobtrusive)</a>
</p>

<p>
  <a class="base-button outline-danger-button">Danger (unobtrusive)</a>
</p>

<p>
  <a class="base-button outline-warning-button">Warning (unobtrusive)</a>
</p>

<p>
  <a class="base-button outline-info-button">Info (unobtrusive)</a>
</p>
