<span style="fancy-button">Click me!</span>

<style>

.fancy-button {
    
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
    padding: 1rem 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    font-height: 400; 
    cursor: pointer;
    
  }
  .button-style:hover {
    background-color: #0b5ed7;
    hover-color: #fff;
    border-color: #0a58ca;
    transition: background-color 0.5s;
  }

</style>
